<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Precision Craftsmanship, Reliable Solutions</h2>
                <hr class="light">
                <p class="text-faded">Quantum Creations Lab delivers high-precision crowns, bridges, and custom dental appliances across Canada. Blending advanced digital CAD/CAM technology with meticulous expertise, we ensure a seamless fit to enhance your workflow and patient satisfaction.</p>
                <a href="{{ site.baseurl }}/pages/about.html" class="btn btn-default btn-xl">more</a>
            </div>
        </div>
    </div>
</section>
