<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter text-center">
            
            <div class="col-lg-6 col-sm-6">
                <a href="{{ site.baseurl }}/pages/products-crown.html" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="Crown & Bridge">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Fixed Prosthetics
                            </div>
                            <div class="project-name">
                                CROWN & BRIDGE
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-6 col-sm-6">
                <a href="{{ site.baseurl }}/pages/case-studies.html" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="Implants">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Implant Solutions
                            </div>
                            <div class="project-name">
                                IMPLANTS
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-6 col-sm-6">
                <a href="{{ site.baseurl }}/pages/case-studies.html" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="Orthodontics">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Appliances
                            </div>
                            <div class="project-name">
                                ORTHODONTICS
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-6 col-sm-6">
                <a href="{{ site.baseurl }}/pages/case-studies.html" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="Dentures">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Removable Prosthetics
                            </div>
                            <div class="project-name">
                                DENTURES
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
